.page-header
  h1 Burn-Notice FAQ

p.text-primary Bei Fragen oder Anregungen, schreibe bitte eine #{mail_to 'peter@burn-notice.me', 'E-Mail'} oder sende eine Nachricht an #{link_to '@BurnNoticeMe', 'https://twitter.com/BurnNoticeMe'} auf Twitter.

= render 'faq'
