@import "compass";

.navbar-logo {
  padding: 6px;
}

.navbar-user {
  a {
    padding: 10px !important;
  }
  img {
    width: 32px;
    height: 32px;
    border: 1px;
    @include border-radius(0.2em, 0.2em);
  }
}

.blog-user {
  img {
    margin: 0.5em;
    width: 16px;
    height: 16px;
    border: 1px;
    @include border-radius(0.2em, 0.2em);
  }
}

.caps {
  font-variant: small-caps;
}

.callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #f89406;
}

.spacer {
  padding-bottom: 1em;
}
.spacer-small {
  padding-bottom: 0.2em;
}
.spacer-large {
  padding-bottom: 2em;
}

.smaller {
  font-size: smaller;
}
