@import "compass";

.navbar-logo {
  padding: 6px;
}

.navbar-user {
  a {
    padding: 10px !important;
  }
  img {
    width: 32px;
    height: 32px;
    border: 1px;
    @include border-radius(0.5em, 0.5em);
  }
}

.caps {
  font-variant: small-caps;
}

.spacer {
  padding-bottom: 1em;
}
.spacer-small {
  padding-bottom: 0.5em;
}
.spacer-large {
  padding-bottom: 2em;
}