= link_to "#", class: "navbar-brand", 'data-html' => 'true', 'data-container' => "body", 'data-toggle' => "popover", 'data-placement' => "auto", 'data-content' => "During our &beta;eta, we are trying to iron out issues in the <strong>user experience</strong> and improve the <strong>quality</strong> of our product by working with <strong><a href='mailto:peter@burn-notice.me?subject=Feedback'>your feedback</a></strong>!", title: "Why &beta;eta?" do
  .label.label-primary &beta;eta
