p
  |
    Burn-Notice has been running stable for about a year, unfortunately we have not seen wide usage yet.
    Nevertheless, in order to operate the site, there are #{link_to('several expenses', '#expenses')} that need to be paid.
    If you like to keep the service operational in 2016, please help us #{link_to('cover those cost', '#payments')}!
