p
  |
    Burn-Notice läuft nun knapp ein Jahr stabil, leider ist die Nutzung noch nicht weit verbreitet.
    Ungeachtet dessen fallen im laufenden Betrieb #{link_to('diverse Ausgaben', '#expenses')} an die beglichen werden müssen.
    Wenn du den Service 2016 weiterhin nutzen möchtest, dann hilf uns bitte #{link_to('die laufenden Kosten zu decken', '#payments')}!
