<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h1>Slate</h1>
      <p class="lead">Shades of gunmetal gray</p>
    </div>
    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
      <div class="well sponsor">
        p empty here!
      </div>
    </div>
  </div>
</div>
