<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h1>Slate</h1>
      <p class="lead">Shades of gunmetal gray</p>
    </div>
    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
      <div class="well sponsor">
        <a href="http://srv.buysellads.com/direct/click/track/yes/x/G6NDC27ICWAI627UCWALYK7UCKBILKJMCT7I5" rel="nofollow" target="_blank">
          <span style="float: left; margin-right: 15px;">
            <img //srv.buysellads.com/direct/image/track/yes/x/G6NDC27ICWAI627UCWALYK7UCKBILKJMCT7I5" width="0" height="0" style="display: none !important; visibility: hidden !important; opacity: 0 !important; background-position: 175px 135px;">
          </span>
        </a>
        <a href="http://srv.buysellads.com/direct/click/track/yes/x/G6NDC27ICWAI627UCWALYK7UCKBILKJMCT7I5" rel="nofollow" target="_blank">
          <h4 style="margin-bottom: 0.4em;">Treehouse</h4>
          <div class="clearfix">
            <p>Learn Web Design, Coding, Mobile App Development &amp; More.</p>
            <p>Start Learning for Free!</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
