p
  |
    Als ein <em>angemeldeter Benutzer</em> würden wir uns freuen, wenn du dich für
    <span data-toggle="tooltip" data-placement="bottom" data-original-title="unterstützt uns schon mit 1€ pro Monat">
       #{link_to('einen monatlichen Bezahl-Plan in höhe von 1€ anmeldest', charges_path)}
    </span>
    und uns dabei Hilfst den Betrieb von Burn-Notice für alle sicher zu stellen!
