p
  |
    As a <em>registered user</em>, we would like to encourage you to help us cover our cost by
    <span data-toggle="tooltip" data-placement="bottom" data-original-title="help us cover the cost with only 1€ per month">
       #{link_to('subscribing to our paid monthly plan', charges_path)}
    </span>
    and help us keep the service available for everyone!
