p
  = form_tag charges_path do
    |
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="#{Rails.configuration.stripe[:publishable_key]}"
            data-image="#{image_url('logo.png')}"
            data-name="Burn-Notice"
            data-amount="100"
            data-currency="EUR"
            data-label="#{t('charges.subscribe_now')}"
            data-panel-label="#{t('charges.subscribe')}"
            data-description="#{t('charges.subscribe_to_plan')}"
            data-locale="auto"></script>
= render 'subscription_claim'
